–ü—Ä–∏–≤–µ–¥–∏—Ç–µ –ø–æ 2 –ø—Ä–∏–º–µ—Ä–∞, –∫–æ–≥–¥–∞ –ª—É—á—à–µ –º–∞–∫—Å–∏–º–∏–∑–∏—Ä–æ–≤–∞—Ç—å Precision, –∞ –∫–æ–≥–¥–∞ Recall.

–ü–æ—á–µ–º—É –º—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º F-–º–µ—Ä—É, –ø–æ—á–µ–º—É, –Ω–∞–ø—Ä–∏–º–µ—Ä, –Ω–µ–ª—å–∑—è –ø—Ä–æ—Å—Ç–æ –≤–∑—è—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –æ—Ç Precision –∏ Recall?

*–†–µ–∞–ª–∏–∑–æ–≤–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏–∏ –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ Accuracy, Precision, Recall, F-score, –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞ –≤—Ö–æ–¥ –ø—Ä–∏–Ω–∏–º–∞—é—Ç y_true (–∏—Å—Ç–∏–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è), y_pred (–ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è), –∞ –Ω–∞ –≤—ã—Ö–æ–¥ –¥–∞–µ—Ç—Å—è –º–µ—Ç—Ä–∏–∫–∞.

## –ó–∞–¥–∞–Ω–∏–µ 1

Precision: –∫–æ–≥–¥–∞ –ª–æ–∂–Ω—ã–π —Ä–µ—Ä—É–∑—å—Ç–∞—Ç –Ω–µ–¥–æ–ø—É—Å—Ç–∏–º

1) –ü—Ä–∏ –æ—Ç–ø—Ä–∞–≤–∫–µ –ø–∏—Å–µ–º, –µ—Å–ª–∏ –æ–¥–Ω–æ —Å–æ–æ–±—â–µ–Ω–∏–µ –∏–º–µ–µ—Ç —Ü–µ–Ω—É, —Ç–æ –≤–∞–∂–Ω–æ –≤—ã–±—Ä–∞—Ç—å –ª—é–¥–µ–π –∫–æ—Ç–æ—Ä—ã–µ –æ—Ç–∫–ª–∏–∫–Ω—É—Ç—Å—è –Ω–∞ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ, –∏ –¥–∞–∂–µ –µ—Å–ª–∏ –Ω–µ –≤—Å–µ –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω—ã–µ –∫–ª–∏–µ–Ω—Ç—ã –æ—Ç–∫–ª–∏–∫–Ω—É—Ç—Å—è, —ç—Ç–æ –º–µ–Ω–µ–µ —Å—Ç—Ä–∞—à–Ω–æ —á–µ–º –ø–æ—Ç—Ä–∞—Ç–∏—Ç—å –¥–µ–Ω—å–≥–∏ –Ω–∞ –∫–ª–∏–µ–Ω—Ç–æ–≤ –∫–æ—Ç–æ—Ä—ã–º –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –Ω–µ –≤—ã–≥–æ–¥–Ω–æ(—Ç–æ, —á—Ç–æ –º—ã –ø—Ä–µ–¥–ª–∞–≥–∞–µ–º –±–µ—Å–ø–ª–∞—Ç–Ω—ã–π –ø—Ä–æ–¥—É–∫—Ç)

2) –ø—Ä–∏ –ø—É–∫—É–ø–∫–µ –¥–æ—Ä–æ–≥–æ—Å—Ç–æ—è—â–µ–≥–æ –æ–±–æ—Ä—É–¥–æ–≤–∞–Ω–∏—è, –∑–∞–∫—É–ø–∏—Ç—å –ø—Ä–æ–≤–µ—Ä–µ–Ω–Ω–æ–µ, –Ω–æ —Ç–æ—á–Ω–æ –ø–æ–¥—Ö–æ–¥—è—â–µ–µ –ø–æ–¥ –ø—Ä–æ–∏–∑–≤–æ–¥—Å—Ç–≤–æ

Recall: –∫–æ–≥–¥–∞ –ª–æ–∂–Ω–æ–µ —Å—Ä–∞–±–∞—Ç—ã–≤–∞–Ω–∏–µ –Ω–µ –∫—Ä–∏—Ç–∏—á–Ω–æ

1) –ü—Ä–∏ –ø–æ–∫—É–ø–∫–µ –ø—Ä–æ–¥—É–∫—Ç–æ–≤, –Ω—É–∂–Ω–æ –∫—É–ø–∏—Ç—å 200 —Ñ—Ä—É–∫—Ç–æ–≤, –∞  –∏–∑ –Ω–∏—Ö –Ω—É–∂–Ω–æ 150 —Ö–æ—Ä–æ—à–∏—Ö, —Ç–æ –ª—É—á—à–µ –≤–∑—è—Ç—å 200 –∏ –ø—É–ª—É—á–∏—Ç—å 30 –ø–ª–æ—Ö–∏—Ö —á–µ–º, –µ—Å–ª–∏ –µ—Å—Ç—å —Å–∏—Å—Ç–µ–º–∞ –æ—Ç–±–æ—Ä–∞ –∫–∞—á–µ—Å—Ç–≤–∞ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –≤–∑—è—Ç—å 150 –∏ –ø–æ–ª—É—á–∏—Ç—å 2 –ø–ª–æ—Ö–∏—Ö

2) –ø—Ä–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–∏ –ø–æ–ø—É–ª—è—Ü–∏–∏ –ø—Ç–∏—Ü —Ä–µ–¥–∫–æ–≥–æ –≤–∏–¥–∞, –ª—É—á—à–µ –æ—Ö–≤–∞—Ç–∏—Ç—å –±–æ–ª—å—à–∏–π –∫—Ä—É–≥ –ø–æ—Ö–æ–∂–∏–π –∏ –ø–æ—Ç–æ–º —Å–¥–µ–ª–∞—Ç—å –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—É—é –≤—ã–±–æ—Ä–∫—É

## –ó–∞–¥–∞–Ω–∏–µ 2

F-score - –º–µ—Ç—Ä–∏–∫–∞ –æ–±—ä–µ–¥–∏–Ω—è—é—â–∞—è –≤ —Å–µ–±–µ —Ç–æ—á–Ω–æ—Å—Ç—å –∏ –ø–æ–ª–Ω–æ—Ç—É, –≤—ã–¥–∞–≤–∞—è –∫–∞–∫ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∏—Ö –≥–∞—Ä–º–æ–Ω–∏—á–µ—Å–∫–æ–µ —Å—Ä–µ–¥–Ω–µ–µ, –∞ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç  ùõΩ , –ø–æ–∑–≤–æ–ª—è–µ—Ç –±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∞—Ç—å –≤–∫–ª–∞–¥, –≤–Ω–æ—Å–∏–º—ã–π —Ç–æ—á–Ω–æ—Å—Ç—å—é, —Ç–µ–º —Å–∞–º—ã–º –∞–∫—Ü–µ–Ω—Ç–∏—Ä—É—è –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ —Ç–æ–π –º–µ—Ç—Ä–∏–∫–µ, –º–∞–∫—Å–∏–º–∏–∑–∞—Ü–∏—è –∫–æ—Ç–æ—Ä–æ–π –¥–ª—è –Ω–∞—Å –Ω–∞–∏–±–æ–ª–µ–µ –ø—Ä–∏–æ—Ä–∏—Ç–µ—Ç–Ω–∞.

–ï—Å–ª–∏ –≤–∑—è—Ç—å –ø—Ä–æ—Å—Ç–æ–µ —Å—Ä–µ–¥–Ω–µ–µ, —Ç–æ–≥–¥–∞ –º—ã –º–æ–∂–µ–º –∫–∞–∂–¥–∞—è –º–µ—Ç—Ä–∏–∫–∞ –±—É–¥–µ—Ç —Ä–∞–≤–Ω–æ—Ü–µ–Ω–Ω–æ–π –ø—Ä–∏ –∞–Ω–∞–ª–∏–∑–µ, —á—Ç–æ —è–≤–ª—è–µ—Ç—Å—è –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ–π –ø—Ä–µ–¥–ø–æ—Å—ã–ª–∫–æ–π –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –º–Ω–æ–≥–∏—Ö –∑–∞–¥–∞—á –≥–¥–µ –æ–¥–Ω–∞ –º–µ—Ç—Ä–∏–∫–∞ –≤–∞–∂–Ω–µ–µ –¥—Ä—É–≥–æ–π. –†–µ–≥—É–ª–∏—Ä–æ–≤–∫–∞ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç  ùõΩ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã—Å—Ç–∞–≤–ª—è—Ç—å –≤–µ—Å–∞ –∏ —Ä–µ–≥—É–ª–∏—Ä–æ–≤–∞—Ç—å –≤–∞–∂–Ω–æ—Å—Ç—å –º–µ—Ç—Ä–∏–∫

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import (roc_auc_score, roc_curve, auc, confusion_matrix, \
                             accuracy_score, classification_report, plot_confusion_matrix, \
                             plot_precision_recall_curve, precision_recall_curve, recall_score,
                             plot_roc_curve)

# —á—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [4]:
DATASET_PATH = 'training_project_data.csv'
PREP_DATASET_PATH = 'training_project_data_prep.csv'

In [5]:
df = pd.read_csv(DATASET_PATH)

In [6]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,NEXT_MONTH_DEFAULT
0,150000.0,2,2,2,24,1,2,0,0,0,...,17853.0,34527.0,28277.0,0.0,2145.0,10000.0,22000.0,3000.0,5093.0,0
1,50000.0,2,3,1,46,3,3,3,3,2,...,30748.0,30162.0,30016.0,0.0,0.0,0.0,0.0,3100.0,798.0,1
2,150000.0,2,2,1,41,-1,-1,-1,-1,0,...,6784.0,6923.0,14116.0,0.0,0.0,6784.0,159.0,167.0,760.0,0
3,150000.0,2,2,2,35,0,0,0,0,0,...,55182.0,48983.0,50136.0,3500.0,2000.0,20000.0,2000.0,2000.0,2000.0,0
4,70000.0,2,1,1,35,1,2,2,2,2,...,47026.0,45971.0,47573.0,0.0,6500.0,1800.0,0.0,2500.0,2000.0,0

In [7]:
for colname in ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']:
    df[colname] = df[colname].astype(str)

In [8]:
df.dtypes

LIMIT_BAL             float64
SEX                    object
EDUCATION              object
MARRIAGE               object
AGE                     int64
PAY_1                  object
PAY_2                  object
PAY_3                  object
PAY_4                  object
PAY_5                  object
PAY_6                  object
BILL_AMT1             float64
BILL_AMT2             float64
BILL_AMT3             float64
BILL_AMT4             float64
BILL_AMT5             float64
BILL_AMT6             float64
PAY_AMT1              float64
PAY_AMT2              float64
PAY_AMT3              float64
PAY_AMT4              float64
PAY_AMT5              float64
PAY_AMT6              float64
NEXT_MONTH_DEFAULT      int64
dtype: object

In [9]:
for cat_colname in df.select_dtypes(include='object').columns:
    print(str(cat_colname) + '\n\n' + str(df[cat_colname].value_counts()) + '\n' + '*' * 100 + '\n')

SEX

2    6068
1    3932
Name: SEX, dtype: int64
****************************************************************************************************

EDUCATION

2    4678
1    3496
3    1674
5      90
4      42
6      18
0       2
Name: EDUCATION, dtype: int64
****************************************************************************************************

MARRIAGE

2    5332
1    4547
3     108
0      13
Name: MARRIAGE, dtype: int64
****************************************************************************************************

PAY_1

0     4895
-1    2852
1     1217
2      881
3      155
Name: PAY_1, dtype: int64
****************************************************************************************************

PAY_2

0     5178
-1    3318
2     1318
3      175
1       11
Name: PAY_2, dtype: int64
****************************************************************************************************

PAY_3

0     5200
-1    3379
2     1288
3      131
1        2
Name: PAY_3, dtype: int64
****************************************************************************************************

PAY_4

0     5459
-1    3360
2     1064
3      117
Name: PAY_4, dtype: int64
****************************************************************************************************

PAY_5

0     5601
-1    3398
2      894
3      107
Name: PAY_5, dtype: int64
****************************************************************************************************

PAY_6

0     5394
-1    3585
2      927
3       94
Name: PAY_6, dtype: int64
****************************************************************************************************

# –û–±—Ä–∞–±–æ—Ç–∫–∞ –≤—ã–±—Ä–æ—Å–æ–≤

In [10]:
df.loc[df['EDUCATION'] == '0', 'EDUCATION'] = df['EDUCATION'].mode()[0]

In [11]:
df.loc[df['MARRIAGE'] == '0', 'MARRIAGE'] = df['MARRIAGE'].mode()[0]

# –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–µ –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [12]:
df['IS_MALE'] = df['SEX'].map({'1':'1', '2':'0'}).astype(int)

In [13]:
for cat_colname in df.select_dtypes(include='object').columns[1:]:
    df = pd.concat([df, pd.get_dummies(df[cat_colname], prefix=cat_colname)], axis=1)

In [14]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,PAY_4_2,PAY_4_3,PAY_5_-1,PAY_5_0,PAY_5_2,PAY_5_3,PAY_6_-1,PAY_6_0,PAY_6_2,PAY_6_3
0,150000.0,2,2,2,24,1,2,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,50000.0,2,3,1,46,3,3,3,3,2,...,0,1,0,0,1,0,0,1,0,0
2,150000.0,2,2,1,41,-1,-1,-1,-1,0,...,0,0,0,1,0,0,0,1,0,0
3,150000.0,2,2,2,35,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,70000.0,2,1,1,35,1,2,2,2,2,...,1,0,0,0,1,0,0,1,0,0

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –æ–±—É—á–∞—é—â–µ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞

In [15]:
df.to_csv(PREP_DATASET_PATH, index=False, encoding='utf-8')

# –æ–±—É—á–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏

In [16]:
X = df.drop(columns='NEXT_MONTH_DEFAULT')
y = df['NEXT_MONTH_DEFAULT']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=2)
X_train.shape, X_test.shape

((7000, 60), (3000, 60))

In [18]:
%%time
tree = DecisionTreeClassifier(random_state=1)

param_grid=[{
             'max_depth': range(1, 7), 
             'min_samples_leaf': range(1, 7), 
            }]

grid_search = GridSearchCV(tree, param_grid, cv=5, scoring='f1')
grid_search.fit(X_train, y_train)
tree = grid_search.best_estimator_

Wall time: 14.5 s

In [19]:
grid_search.best_params_

{'max_depth': 3, 'min_samples_leaf': 6}

In [20]:
pred_train = tree.predict(X_train)
pred_test = tree.predict(X_test)

pred_proba_test = tree.predict_proba(X_test)
pred_proba_test[:5]

array([[0.80078637, 0.19921363],
       [0.80078637, 0.19921363],
       [0.89638205, 0.10361795],
       [0.89638205, 0.10361795],
       [0.89638205, 0.10361795]])

# –ø–æ–¥—Å—á–µ—Ç –º–µ—Ç—Ä–∏–∫

In [21]:
from sklearn.metrics import precision_score, \
    recall_score, accuracy_score, f1_score

In [38]:
def calc_score_train(y_train, pred_train):
    accuracy_train = accuracy_score(y_train, pred_train)
    
    precision_train = precision_score(y_train, pred_train)
    
    f1_score_train = f1_score(y_train, pred_train)
    
    recall_score_train = recall_score(y_train, pred_train)
    score = {
        'accuracy': accuracy_train,
        'precision': precision_train,
        'f1': f1_score_train,
        'recall': recall_score_train
    }
    for item, value in score.items():
        print(item + '= ' + str(value) + '\n\n' + '*' * 50)

In [41]:
def calc_score_test(y_test, pred_test):
    accuracy_test = accuracy_score(y_test, pred_test)
    
    precision_test = precision_score(y_test, pred_test)
    
    f1_score_test = f1_score(y_test, pred_test)
    
    recall_score_test = recall_score(y_test, pred_test)
    score = {
        'accuracy': accuracy_test,
        'precision': precision_test,
        'f1': f1_score_test,
        'recall': recall_score_test
    }
    for item, value in score.items():
        print(item + '= ' + str(value) + '\n\n' + '*' * 50)

In [39]:
calc_score_train(y_train, pred_train)

accuracy= 0.8275714285714286

**************************************************
precision= 0.701067615658363

**************************************************
f1= 0.49476768522394315

**************************************************
recall= 0.38227684346701163

**************************************************

In [42]:
calc_score_test(y_test, pred_test)

accuracy= 0.821

**************************************************
precision= 0.6546961325966851

**************************************************
f1= 0.46884272997032644

**************************************************
recall= 0.36517719568567025

**************************************************